.wrap{margin: 0 auto;width:100%;}
.list .hide_div{height:0px;}

.register{width:330px;margin: 0 auto;margin-top: 100px;}

.register p{font-size: 24px;line-height:60px;font-weight:bold;margin-left:130px;}
.register input{width: 330px;height: 52px;border:1px solid #dedede; border-radius: 5px;text-indent: 16px;}
.register span{position: absolute;height: 52px;display: inline-block;color: #666;font-size: 14px;top: 20px;left:20px;}
.input{position: relative;margin-bottom: 10px;}

#agree p{font-size: 12px;color: 12px;font-weight: normal;margin-left:10px;line-height: 40px;}
#agree i{color: #06c;}
#agree a{color: #fff;display: block;width: 330px;height: 52px;font-size: 16px;text-align: center;background: #ff3c3c;border-radius: 2px;line-height: 52px;}
#agree a:hover{text-decoration: none;background: #d72226;}
.register .mess{width: 192px;margin-right: 10px;}
.register .get{height: 52px;width: 126px;text-align: center;background: #57565f;font-size: 14px;line-height: 52px;border-radius: 2px;display: block;float:right;color: #fff;}

.hidediv{padding:10px;background: #cfcfcf;min-width:180px;line-height: 20px;position: absolute;left:332px;top: 0;border-radius: 3px;opacity: 0;}
.hideicon{height: 0;width: 0;border:6px solid #cfcfcf;border-color: transparent;border-right-color: #cfcfcf;position: absolute;left:-12px;top:38%;}

.hidediv2{padding:10px;background: #fff4d7;min-width: 180px;line-height: 20px;position: absolute;left:332px;top: 0;border-radius: 3px;opacity: 0;}
.hideicon2{height: 0;width: 0;border:6px solid #fff4d7;border-color: transparent;border-right-color: #fff4d7;position: absolute;left:-12px;top:38%;}